$font: 17px;
$h1: 2.471em;
$h1mobile: 1.5em;
$h2: 1.235em;
$p: 1em;
$psmall: 16px;
$psmallmobile: 15px;

$ProximaRegular: 'ProximaNova-Regular','Arial','Helvetica',sans-serif;
$ProximaSemi: 'ProximaNova-Semibold','Arial','Helvetica',sans-serif;
$border-radius: 40px;

$blue: #0ae;
$lgt-blue: #43c3ed;
$black: #333;
$bgcolor: #0ae;
$grey: #e2e1df;

$maxwidth: 964px;
